<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Potwierdzenie Kontaktu</title>
</head>

<body>
    <div>
        <div style="background-color: #000; color: #fed136; text-align: center;">
            <h1 style="text-transform: uppercase; margin-bottom: 0px;">Szymon Komoń</h1>
            <h3 style="margin-top: 5px;">Kandydat do Rady Miasta Krakowa</h3>
        </div>
        <div>
            <h2>Potwierdzenie Kontaktu (Szymon Komoń - Kandydat do Rady Miasta Krakowa)</h2>
         </div>
        <div >
            <p>Drogi(a)&nbsp;